
<div id="video_wrapper">

  <div id="feed">
    <h2 id='directions'>capture step</h2>
   <img src="/mask.png">
   <video id="player" autoplay="true"></video>
  </div> <!-- end feed -->

  <div id="capture">
    <canvas id="canvas" width="700" height="400" style="display: hidden"></canvas>
 
    
    <div class="form_wrapper">
      <input name="direction" id="direction" placeholder="add a direction">
      <textarea name="image" id="image" style="display: none;"></textarea>

      <div class='button_wrapper'>
        <button type='submit' class='capture_nav_item confirm'></button>
        <button type="button" class='capture_nav_item reload'></button>
        <a href="/"><button type="button" class='capture_nav_item exit'></button></a>
      </div>
    </div>

  

  </div>	<!-- end capture -->
</div>  <!-- end video wrapper -->
<div class="button_wrapper">
  <button type="button" class='snap'></button>
  <a href="/teacher/view/{{id}}"><button type="button" class="next"></button></a>
</div>

