<div id="wrapper">
	
	<div id="top-nav">
		<h2>{{user.local.username}}</h2>
		<h3><a href="/logout" class="btn btn-default btn-sm">Logout</a></h3>
		<div id="logo"><img src="../images/logo.png"></div>
	</div>{{!-- end top nav --}}
	
	<br>
	{{#each data}}
		<div class="task_list">
			{{title}}
			<a href="/task/{{_id}}">solve</a>
		</div>
		
	{{/each}}

	    </div>
</div>