{{user.local.username}} this the tasks index in handlebars
<br>
{{#each data}}
	
	<a href="/task/{{_id}}">view task</a>
	{{title}}
{{/each}}
<a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>