{{user.local.username}} this the tasks index in handlebars
<br>
{{#each data}}
	<div class="task_list">
		{{title}}
		<a href="/task/{{_id}}">solve</a>
	</div>
	
{{/each}}
<a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>