<div id="wrapper">
	
	<div id="top-nav">
		<h2>{{user.local.username}}</h2>
		<h3><a href="/logout" class="btn btn-default btn-sm">Logout</a></h3>
		<div id="logo"></div>
	</div>{{!-- end top nav --}}
	
	<br>
	<div id="teacher_nav" class="button_wrapper">
		<a href="/"><button>tasks</button></a>
		<a href="/teacher/students"><button>students</button></a>
	</div>
	
		<div class="student_list">
			{{#each data}}
			{{!-- <a href="/task/{{_id}}"> --}}
				<div class="student">
					<p>{{local.first}} {{local.last}}</p>
				</div>
			{{!-- </a> --}}
				
			{{/each}}
		</div>
	</div>
</div>