  	<div id="video_wrapper">
     
  		<div id="feed">
       <img src="/mask.png">
       <video id="player" autoplay="true"></video>
     </div> <!-- end feed -->
     
     <div id="capture">
       <div id="capture_nav">
         <div class='capture_nav_item' id='confirm'>confirm</div>
         <div class='capture_nav_item' id='reload'>reload</div>
         <div class='capture_nav_item' id='exit'>exit</div>
       </div><!-- end capture nav -->
       
       <canvas id="canvas" width="700" height="400" style="display: hidden"></canvas>
     </div>	<!-- end capture -->
   </div>  <!-- end video wrapper -->
   
   <button id='snap'>take photo</button>
   
 
   