
<div id="video_wrapper">

  <div id="feed">
   <img src="/mask.png">
   <video id="player" autoplay="true"></video>
  </div> <!-- end feed -->

  <div id="capture">
  
    <a href="/task/{{taskid}}/{{stepid}}">
      <button type='button' class='capture_nav_item' id='confirm'>confirm</button>
    </a>
    <button type="button" class='capture_nav_item' id='reload'>reload</button>
    <button type="button" class='capture_nav_item' id='exit'>exit</button>

  <canvas id="canvas" width="700" height="400" style="display: hidden"></canvas>

  </div>	<!-- end capture -->
  
</div>  <!-- end video wrapper -->

<button type="button" id='snap'>take photo</button>


