<!doctype html>
<html>
<head>
    <title>Mathtasktic</title>
    <link rel="stylesheet" href="/css/global.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/webcam.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/javascript/stepCapture.js"></script>
</head>
<body>
	<div id="wrapper">
		
		{{{body}}}
	</div>
</body>
</html>
